<footer class="bgTheme2 invertLight" id="footer">
    <section>
        <div class="container" gc0="1" gcl="12">
            <div c0="1" cl="6" cxxl="7">
               {{ page.footer_left }}
            </div>
            <div c0="1" cl="6" cxxl="7" r0="3+1" rl="2+1">
                  <div class="logo"></div>
                <span class="copyright">Copyright © Atollon 2021</span>
            </div>
            <div class="contact" c0="1" cl="9+4" cxxl="10+3" rl="1+2">
                {{ page.footer_right }}
             </div>
        </div>
    </section>
</footer>