<header>
    <nav class="nav-color" role="navigation">
 
        <a class="ic menu" href="javascript:void(0);" tabindex="1"><span class="line"></span><span class="line"></span><span class="line"></span></a><a class="ic close" href="javascript:void(0);"></a>
        <div class="main-nav" c0="1" cL="4">
            <ul class="first-nav" style="margin-left:500px;">
               {{page.header_center}}
           
            </ul>
            <ul class="second-nav">
                <li>
                <a href="#"><span class="mdi mdi-login"></span></a>
                </li>
               <li class="li-btn-nav">
                    <a href="#"><span>Vyzkoušet</span></a>
                </li>
                
             </ul>
        </div>
    </nav>
</header>