@import "../fonts/proxima-nova.css";
:root {
  --rootSize: 16px;
  --fontSize: calc(var(--rootSize)/1);
  --boxSize: calc(var(--rootSize)*2);
  --containerWidth: 100%;
  --secPadding: calc(var(--boxSize)*1);
  --boxPadding: calc(var(--boxSize)*1);
  --colGap: calc(var(--boxSize)/2);
  --rowGap: calc(var(--colGap)*1);
  --sansFont: "Proxima Nova", sans-serif;
  --sansWeight: 400;
  --lineHeight: 1.5;
  --h1-size: 2em;
  --h1-weight: 700;
  --h1-lineHeight: 1.1;
  --h2-size: 1.5em;
  --h2-weight: 700;
  --h2-lineHeight: 1.3;
  --h3-size: 1.25em;
  --h3-weight: 700;
  --h3-lineHeight: 1.4;
  --h4-size: 1em;
  --h4-weight: 700;
  --h4-lineHeight: 1.5;
  --color-primary: #0066cc;
  --color-secondary: red;
  --lighten-primary: #0080ff;
  --darken-primary: #004d99;
  --color-gray0: white;
  --color-gray2: #fafafa;
  --color-gray4: whitesmoke;
  --color-gray6: #f0f0f0;
  --color-gray8: #ebebeb;
  --color-gray10: #e6e6e6;
  --color-gray12: #e0e0e0;
  --color-gray14: #dbdbdb;
  --color-gray16: #d6d6d6;
  --color-gray18: #d1d1d1;
  --color-gray20: #cccccc;
  --color-gray30: #b3b3b3;
  --color-gray40: #999999;
  --color-gray50: gray;
  --color-gray60: #666666;
  --color-gray70: #4d4d4d;
  --color-gray80: #333333;
  --color-gray82: #2e2e2e;
  --color-gray84: #292929;
  --color-gray86: #242424;
  --color-gray88: #1f1f1f;
  --color-gray90: #1a1a1a;
  --color-gray92: #141414;
  --color-gray94: #0f0f0f;
  --color-gray96: #0a0a0a;
  --color-gray98: #050505;
  --color-gray100: black;
  --color-alfa-black: rgba(0, 0, 0, 0.1);
  --color-alfa-white: rgba(255, 255, 255, 0.1);
}
@media only screen and (min-width: 512px ) {
  :root {
    --fontSize: calc(var(--rootSize)/1);
    --boxSize: calc(var(--rootSize)*3);
    --containerWidth: 100%;
  }
}
@media only screen and (min-width: 768px ) {
  :root {
    --fontSize: calc(var(--rootSize)/1);
    --boxSize: calc(var(--rootSize)*4);
    --containerWidth: 100%;
  }
}
@media only screen and (min-width: 1024px ) {
  :root {
    --fontSize: calc(var(--rootSize)/1);
    --boxSize: calc(var(--rootSize)*5);
    --containerWidth: calc(1024px - var(--secPadding)*2);
  }
}
@media only screen and (min-width: 1280px ) {
  :root {
    --fontSize: calc(var(--rootSize)/1);
    --boxSize: calc(var(--rootSize)*6);
    --containerWidth: calc(1280px - var(--secPadding)*4);
  }
}
@media only screen and (min-width: 1536px ) {
  :root {
    --fontSize: calc(var(--rootSize)/1);
    --boxSize: calc(var(--rootSize)*7);
    --containerWidth: calc(1536px - var(--secPadding)*4);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --color-bg1: white;
    --color-bg2: whitesmoke;
    --color-bg3: #ebebeb;
    --color-fg1: black;
    --color-fg2: #333333;
    --color-fg3: #666666;
    --color-alfa: rgba(255, 255, 255, 0.1);
    --color-border: rgba(0, 0, 0, 0.1);
  }
  body.invert, body .invert, body .invertLight {
    --color-bg1: #0f0f0f;
    --color-bg2: #1a1a1a;
    --color-bg3: #242424;
    --color-fg1: white;
    --color-fg2: #cccccc;
    --color-fg3: #999999;
    --color-alfa: rgba(0, 0, 0, 0.1);
    --color-border: rgba(255, 255, 255, 0.1);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --color-bg1: #0f0f0f;
    --color-bg2: #1a1a1a;
    --color-bg3: #242424;
    --color-fg1: white;
    --color-fg2: #cccccc;
    --color-fg3: #999999;
    --color-alfa: rgba(0, 0, 0, 0.1);
    --color-border: rgba(255, 255, 255, 0.1);
  }
  body.invert, body .invert, body .invertDark {
    --color-bg1: white;
    --color-bg2: whitesmoke;
    --color-bg3: #ebebeb;
    --color-fg1: black;
    --color-fg2: #333333;
    --color-fg3: #666666;
    --color-alfa: rgba(255, 255, 255, 0.1);
    --color-border: rgba(0, 0, 0, 0.1);
  }
}
* {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  font-size: var(--fontSize);
  font-weight: var(--sansWeight);
  font-family: var(--sansFont);
  line-height: var(--lineHeight);
  margin: 0;
  padding: 0;
}

body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg1);
  color: var(--color-fg1);
  border-color: var(--color-border);
}

.container {
  grid-column-gap: var(--colGap);
  grid-row-gap: var(--rowGap);
  max-width: var(--containerWidth);
}
.container.fullWidth {
  max-width: 100%;
  margin: 0;
}

section {
  padding: var(--secPadding);
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child {
  margin-bottom: 0;
}

p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: var(--sansFont);
  margin-top: 2em;
  margin-bottom: 1em;
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-lineHeight);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-lineHeight);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-lineHeight);
}

h4 {
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-lineHeight);
}

a, i {
  transition: all 0.2s ease-out;
  color: var(--color-primary);
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
ul > li {
  position: relative;
  margin-bottom: calc(var(--lineHeight)*0.5em);
}

hr {
  background-color: var(--color-border);
  height: 1px;
  margin: calc(var(--lineHeight)*1em) 0;
  border: none;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

blockquote, q {
  quotes: none;
}
blockquote :after, blockquote :before, q :after, q :before {
  content: none;
}

.btn {
  color: var(--color-gray0);
  background-color: var(--color-primary);
  padding: calc(var(--fontSize)*0.75) calc(var(--fontSize)*1.5);
  margin: 1.5em 0;
  border-radius: calc(var(--fontSize)*100);
  border: 0;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  line-height: calc(var(--lineHeight)*1);
  font-weight: 500;
  transition: all 0.2s ease-out;
}
.btn:hover {
  background-color: #0080ff;
}
.btn.btn-sec {
  border: 2px solid var(--color-bg3);
  background-color: transparent;
  color: var(--color-fg3);
}
.btn.btn-sec:hover {
  background-color: var(--color-bg3);
}

input[type=checkbox] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.btn.btn-second {
  background-color: transparent;
  border: 2px solid var(--color-bg3);
  color: var(--color-fg3);
}
.btn.btn-second:hover {
  background-color: var(--color-bg3);
}

@media only screen and (min-width: 1280px ) {
  .bigBox {
    margin-left: calc(var(--secPadding)*-1);
    margin-right: calc(var(--secPadding)*-1);
    min-width: calc(100% + var(--secPadding)*2);
  }
}
[text=primary] {
  color: var(--color-primary);
}

.flex {
  display: flex;
  align-items: baseline;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: var(--color-fg1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-border);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.12s, border-color 0.08s;
}
input[type=checkbox]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border: 1px solid var(--color-fg1);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}/*# sourceMappingURL=02-frk.css.map */